<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <!-- the hamburger -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false" (click)="toggleState()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a routerLink="/" class="navbar-brand" id="proj-name">
                <i class="fas fa-spa" aria-hidden="true"></i> MINDFUL</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-nav-demo" [ngClass]="{ 'in': isIn}">
            <ul class="nav navbar-nav">
                <li>
                    <a routerLink="/" routerLinkActive="active">HOME</a>
                </li>
                <li>
                    <a routerLink="/journal" routerLinkActive="active">JOURNAL</a>
                </li>
                <li>
                    <a routerLink="/activity" routerLinkActive="active">ACTIVITIES</a>
                </li>
                <li>
                    <a routerLink="/resources" routerLinkActive="active">RESOURCES</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <h5>
                    <i aria-hidden="true">Help Center: 217-333-3704</i>
                </h5>
            </ul>
        </div>
    </div>
</nav>