<h1>
Recommended Activities:
</h1>
<h2>
  For Anger:
  <h3>
  <a>https://www.youtube.com/watch?v=OS_iqfGjL78</a>
  </h3>
  </h2>
<h2>
  For Contempt: <h3> <a>https://www.youtube.com/watch?v=rkZl2gsLUp4 </a> </h3>
  </h2>
<h2>
  For Disgust:  <h3><a>https://www.youtube.com/watch?v=OS_iqfGjL78 </a> </h3>
  </h2>
<h2>
  For Fear: <h3> Call a trusted individual </h3>

  </h2>
<h2>
  For Hapiness: <h3> <a>https://www.youtube.com/watch?v=BA3ULEBKAdQ </a> </h3>
  </h2>
<h2>
  For Neutral: <h3> Participate in physical activity, such as taking a walk </h3>
  </h2>
<h2>
  For Sadness: <h3><a> https://counselingcenter.illinois.edu/  </a></h3>

  </h2>
<h2>
  For Surprise: <h3><a> https://www.youtube.com/watch?v=OS_iqfGjL78 </a> </h3>


</h2>
