<!-- <h1>
    Recommended Activities:
</h1>
<h2>
    For Anger:
    <h3>

    </h3>
</h2>
<h2>
    For Contempt:
    <h3>
        <a>https://www.youtube.com/watch?v=rkZl2gsLUp4 </a>
    </h3>
</h2>
<h2>
    For Disgust:
    <h3>
        <a>https://www.youtube.com/watch?v=OS_iqfGjL78 </a>
    </h3>
</h2>
<h2>
    For Fear:
    <h3> Call a trusted individual </h3>

</h2>
<h2>
    For Happiness:
    <h3>
        <a>https://www.youtube.com/watch?v=BA3ULEBKAdQ </a>
    </h3>
</h2>
<h2>
    For Neutral:
    <h3> Participate in physical activity, such as taking a walk </h3>
</h2>
<h2>
    For Sadness:
    <h3>
        <a> https://counselingcenter.illinois.edu/ </a>
    </h3>

</h2>
<h2>
    For Surprise:
    <h3>
        <a> https://www.youtube.com/watch?v=OS_iqfGjL78 </a>
    </h3>


</h2> -->

<!-- <div class="container">
  <div class="row">
    <div class="col-sm">
      Anger:<a>https://www.youtube.com/watch?v=OS_iqfGjL78</a>
    </div>
    <div class="col-sm">
      For Contempt: <h3> <a>https://www.youtube.com/watch?v=rkZl2gsLUp4 </a> </h3>
    </div>
    <div class="col-sm">
      For Disgust:  <h3><a>https://www.youtube.com/watch?v=OS_iqfGjL78 </a> </h3>
    </div>
  </div>
</div> -->

<!-- <div class="container">
    <div class="row">
        <div class="col-md-1">
            <a href="https://www.youtube.com/watch?v=OS_iqfGjL78">ANGER</a>
        </div>
        <div class="col-md-1">
            <a href="https://www.youtube.com/watch?v=rkZl2gsLUp4">CONTEMPT</a>
        </div>
        <div class="w-100"></div>
        <div class="col-md-1">
            <a href="https://www.youtube.com/watch?v=OS_iqfGjL78">DISGUST</a>
        </div>
        <div class="col-md-1">Column</div>
    </div>
</div> -->
<!-- <div class="container">
    <div class="row">
        <div class="col-md-2">
            <img src="https://www.google.ca/images/srpr/logo11w.png" style="width: 100px" class="">
        </div>
        <div class="col-md-10">
            <img src="https://www.google.ca/images/srpr/logo11w.png" style="width: 100px" class="">
        </div>
        <div class="col-md-8">
            <a href="#myModal1" data-toggle="modal" class="">SHARE</a>

        </div>
    </div>
</div> -->

<!-- <div class="conainter">
    <div class="row">
        <div class="col-sm-12 col-lg-4 col-md-4" id="homeDiv1">
            <a id="link" href="https://www.youtube.com/watch?v=OS_iqfGjL78">ANGER</a>
        </div>
        <div class="col-sm-12 col-lg-4 col-md-4" id="homeDiv2">
            <a id="link" href="https://www.youtube.com/watch?v=rkZl2gsLUp4">CONTEMPT</a>
        </div>
        <div class="col-sm-12 col-lg-4 col-md-4" id="homeDiv3">
            v class="col-md-1">
            <a id="link" href="https://www.youtube.com/watch?v=OS_iqfGjL78">DISGUST</a>
        </div>
    </div>
</div> -->
<div class="flex-grid">
    <div class="col">
        <a id="link" href="https://www.youtube.com/watch?v=OS_iqfGjL78">ANGER</a>
    </div>
    <div class="col">
        <a id="link" href="https://www.youtube.com/watch?v=rkZl2gsLUp4">CONTEMPT</a>
    </div>


</div>

<div class="flex-grid">
    <div class="col">
        <a id="link" href="https://www.youtube.com/watch?v=OS_iqfGjL78">DISGUST</a>
    </div>
    <div class="col">
        <a id="link" href="https://counselingcenter.illinois.edu/">SADNESS</a>
    </div>
</div>

<div class="flex-grid">

    <div class="col">
        <a id="link" href="https://www.youtube.com/watch?v=OS_iqfGjL78">SURPRISE</a>
    </div>
    <div class="col">

        FEAR: Call a trusted individual
    </div>
</div>
<div class="flex-grid">

    <div class="col">
        NEUTRAL: Participate in physical activity, such as taking a walk
    </div>
    <div class="col" id="hide-col">
    </div>

</div>