.navbar-brand {
    color: #d9534f !important;
    background: #333 !important;
}

.jumbotron {
    color: #333 !important;
    background: #333 !important;
}

.navbar-inverse {
    background: #333 !important;
}

.navbar-inverse .navbar-nav>li>a {
    color: #d9534f;
    font-family: 'Roboto', sans-serif !important;
    background: #333;
}

.navbar-inverse .navbar-brand {
    color: #d9534f;
}

.clickable {
    font-size: 1.8em;
    margin-top: 5%;
    padding: 0px 10px 0px 10px;
    color: #d9534f;
    float: right;
    justify-content: space-between;
}

.clickable:hover {
    color: #c9302c;
}

.border {
    border: 1px solid #333 !important;
}

.disabled {
    pointer-events: none !important;
    cursor: default !important;
    color: #c9302c !important;
    text-decoration: none !important;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.active:hover {
    color: #922b28 !important;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #d9534f;
}